<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/brand/favicon.ico">

    <title>CAP H TERMS AND CONDITIONS</title>

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/mdb.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-year-calendar.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/fonts/flaticon/flaticon.css" rel="stylesheet">
    <link href="../assets/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .row-centered{
            text-align: center;
          }
          .col-centered{
            display: inline-block;
            float: none;
            text-align: left;
            margin-right: -4px;
          }
    </style>
</head>

<body >
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><img src="../assets/brand/33-1.png" width="30"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=""><img src="../assets/brand/help.svg" width="20"></a>
                    </li>
                    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
            <div class="row row-centered">
            <label class="label-heading"><h1>CAP H TERMS AND CONDITIONS</h1></label>
            
 <label class="medium col-neu-2" style="text-align: left;">
1. Detailed description of goods and/or services
Cap H Technologies (Pty) Ltd is a business in the Human Capital industry that automates human capital processes for small to medium businesses. <br><br>

2. Export restriction 
The offering on this website is limited to South African users only. (The product is currently targeted at South African companies and users, but any user can access the website from anywhere in the world, however, the payment gateway is currently not enabled for users outside of the Republic of South Africa.) <br><br>

3. Subscription, Use and Termination of Cap H
3.1 Cap H and the Website are only intended for business use. You warrant that you will only use Cap H and the Website for business purposes.

3.2 We may require you to register before we supply any services via this Website. When you register, you agree to provide, true, accurate, up-to-date and complete User Details as required by the relevant registration made available to you via this Website.<br><br>

3.3 You can purchase a subscription to access and use Cap H by following the relevant process on the Website. <br><br>

3.4 Subscription fees and rates
3.4.1 In consideration for the license to use Cap H granted hereunder, you will pay us the annual or monthly Access Fees (depending on your payment option) which shall, for the sake of clarity, be payable in respect of each month/year from the date of subscription and you shall be liable in respect thereof regardless of the extent to which you have used Cap H. <br><br>

3.4.2 We have the right to revoke your license to use Cap H or withhold the renewal code for the license to Cap H should you fail to pay the agreed Access Fees within the time periods stipulated herein, in which event you will be unable to use Cap H.<br><br>

3.4.3 In the event that you fail to pay any Access Fees and as a consequence thereof your license to use Cap H is revoked in accordance with clause 1.2 above, and at a later stage you elect to reinstate your Cap H subscription, you shall be liable for the following:<br><br>

3.4.3.1 payment of the Access Fees for the period between the date on which you stopped paying the applicable Access Fees until the date on which your subscription was reinstated; and<br><br>

3.4.3.2 the monthly/annual Access Fee for the ensuing periods from the date of reinstatement. <br><br>

3.5 We will not keep a separate record of the contract relating to your specific subscription for Cap H, so it will not be available from us. We therefore strongly recommend you print a copy of this Agreement, both before and after you submit your payment details. Cap H Technologies (Pty) Ltd will supply you with a tax invoice, either directly or through appointed Business Partner, transmitted via email. The transmitted electronic document will constitute the original tax invoice. No other tax invoice, credit or debit note will be issued in respect of the specific supply, unless as a copy of the original document.<br><br>
3.6 Cap H Technologies (Pty) Ltd grants you a non-exclusive and non-assignable licence to access and use Cap H strictly via the Website with the user roles according to your subscription type and in accordance with this Agreement.<br><br>

3.7 For so long as you pay the Access Fee and any other applicable charges, you may permit the agreed number of Subscriber Business Partners to access and use the relevant subscription for Cap H. You agree to ensure that those Subscriber Business Partners comply with this Agreement. Those Subscriber Business Partners must only use the relevant subscription for Cap H as follows for their own (or their employer's) accounting and finance and related purposes:

3.7.1 as permitted by and subject to the terms and conditions of this Agreement;<br><br>

3.7.2 in the course of their (or their employer's) own business; and<br><br>

3.7.3 with their own (or their employer's) Company Data only.<br><br>

3.8 From time to time, you may change the identity of the individuals who are Subscriber Business Partners. We reserve the right to limit the number of times, or the frequency with which you can do this. We may consult with you before exercising this right.<br><br>

3.9 If a Subscriber Business Partner is not the employee of a subscriber to Cap H, the subscriber must ensure that such Subscriber Business Partner:<br><br>
a. complies with this Agreement; and<br>
b. uses the relevant Company Data in Cap H in accordance with that subscriber's instructions.<br>

3.10 Notwithstanding anything to the contrary in this Agreement, where the Business Partner is utilising Cap H to provide accounting, consulting or other similar services on behalf of a business entity, then in such circumstances, where the Company Data relates to that of a business entity other than that of the Business Partner, Cap H Technologies (Pty) Ltd reserves the right, in its sole and absolute discretion, to transfer such Company Data to an alternate subscription, and the Business Partner shall have no recourse against Cap H Technologies (Pty) Ltd in this regard.<br><br>

3.11 How to cancel your Cap H account<br>
If you decide you no longer want to use your service, you can choose to cancel your account. If you choose to cancel your account, you can’t access your data from the date it’s cancelled.
Before you cancel your account, we recommend that you print any information you might need first. For example, your employee information, as you can’t access this information once we cancel your account.
You can reinstate access to your business and reactivate your service at any time, provided we receive the request in writing. This must be from the person we have listed on our system as the business owner or person who first set up the account. Once reinstated we’ll start billing you again, as normal.<br><br>

3.12 Your final payment for your service <br>
When you pay for your service, you pay for full months only. The invoice for your service is generated on the first day of each month. It covers the period up to and including the end of the month and is payable on the 12th of the month.<br><br>

3.13 If this Agreement is terminated and you notify us at the time of notice of termination that you require further access to your Company Data, we may provide you with access to CAP H for a period of 5 (five) calendar days in order that you may print out your Company Data, subject to the following:<br>
a. it is possible that we may have deleted your Company Data, and not be able to provide it to you; and<br>
b. we may charge you for providing you with access to your Company Data; and<br>
c. if your account remains in arrears for 90 (ninety) days, we may delete your Company Data.<br>

3.14  If we terminate this Agreement in accordance with clause 8.1 we may irretrievably delete your Company Data from the effective date of termination.<br><br>

3.15 Any termination of this Agreement will not affect any accrued rights or liabilities of either party, nor shall it affect the coming into force, or the continuance in force, of any provision of this Agreement which is expressly or by implication intended to come into force or continue in force on or after termination.<br><br>

4. Refunds policy<br>
Term, termination, and suspension.
4.1 Agreement term and termination. This agreement will remain in effect until the expiration. termination, or renewal of your Subscription.<br><br>

4.2 Subscription termination. <br>
You may terminate a Subscription in writing at any time during its Term; however, you must pay all amounts due and owing before the termination is effective.
(i)One-Month Subscription. A Subscription having a one-month Term may be terminated anytime without any cancellation fee.
(ii)Subscriptions of more than one-month. If you terminate a Subscription to CAP H within 30 days of the date on which the subscription became effective or was renewed, no refunds will be provided and you must pay for the initial 30 days of the Subscription, but no payments will be due for the remaining portion Of the terminated Subscription. If you terminate a Subscription to CAP H at any Other time during the term, you must pay for the remainder of the Term, and no refunds will be provided.<br><br>

5. Customer Privacy policy<br>
Cap H Technologies (Pty) Ltd shall take all reasonable steps to protect the personal information of users. For the purpose of this clause, "personal information" shall be defined as detailed in the Promotion of Access to Information Act 2 of 2000 (PAIA). The PAIA may be downloaded from: http://www.polity.org.za/attachment.php?aa_id=3569.<br><br>

6. Payment options accepted<br>
Payment may be made via Visa and MasterCard.<br><br>

7. Card acquiring and security<br>
Card transactions will be acquired for Cap H Technologies (Pty) Ltd via PayGate (Pty) Ltd who are the approved payment gateway for all South African Acquiring Banks. PayGate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no Card details are stored on the website. Users may go to http://www.paygate.co.za to view their security certificate and security policy.<br><br>

The security of your Cap H data is of utmost importance to us. Our commitment to security will ensure that your data is safe and secure.<br><br>

8. Access to your Cap H Data<br>
Your companies are protected by your username and password. No one else has access to your company information unless you have invited them. In which case, they too will have access to your company information, but using their own username and password.<br><br>

9. Managed Hosting <br>
Your Cap H data is stored in a managed hosting environment at a secure physical location with 24/7 armed security personnel and offsite monitoring via CCTV. All physical equipment is also housed in a security controlled and monitored centre. Access to the data centre is restricted to authorised personnel only.<br><br>

Firewall and Intrusion detection: Cap H operates behind an industry-standard firewall. This firewall ensures that only intended traffic reaches the Cap H service. The firewall generates logs and alerts which are reviewed on an ongoing basis to determine intrusion, service attacks and injection attempts.<br><br>

All systems are reviewed on an ongoing basis to identify possible weaknesses or new vulnerabilities. System event and system logs are reviewed on an ongoing basis to identify possible intrusion attempts.<br><br>

Industry-standard monitoring technologies are in place to continuously check that the Cap H server is available. This ensures that the physical environment is monitored and any system hardware or software errors are resolved within the shortest possible time thereby minimising downtime.<br><br>

Data Backups<br>
Your Cap H data is backed up daily. Backups are stored for up to two weeks. Data is stored in two alternative locations, accommodating multiple points of failure.<br><br>

SSL Security<br>
The information you send to and retrieve from Cap H is encrypted. Cap H utilises a security certificate obtained from a reputable certificate provider. This certificate is fully authenticated and verified, encrypting your data with up to 256-bit encryption (browser dependant) and therefore ensuring that your data is safe.<br><br>

10. Intellectual Property Rights<br>
10.1 All right, title, ownership, benefit and interest in and to, and all Intellectual Property in CAP H and the Website, the design and content of CAP H and the Website and any documentation relating thereto remain the property of CAP H. All rights to Intellectual Property in respect of CAP H and the Website are reserved. The exclusive right to authorise or prohibit the direct or indirect, temporary or permanent reproduction of the Intellectual Property by any means and in any form, in whole or in part, and to make the Intellectual Property available to the public, and to distribute any copyright protected material in CAP H and the Website shall remain with CAP H.<br><br>

10.2 You may not use the Intellectual Property and any third-party trademarks that appear on CAP H or the Website, other than as permitted by express written licence from CAP H by law. In particular, you may not use the marks as meta-tags nor may you sponsor them in search engines. All goodwill in your legitimate use of the marks shall accrue to CAP H. You are required to notify us immediately if you become aware of any infringement of the Intellectual Property and rights thereto.<br><br>

10.3 CAP H and the Website may incorporate technical and other protective measures designed to prevent unauthorised and / or illegal use of CAP H. You agree to the incorporation of any such measures in CAP H.<br><br>

10.4 If, in our reasonable opinion, CAP H or the Website are likely to become or do become the subject of a claim of infringement of a third party's intellectual property rights, we may elect to either:<br>

10.4.1 obtain the right for you to continue using CAP H or the Website as permitted under this Agreement; or<br><br>

10.4.2 modify or replace the infringing part of CAP H or the Website so as to avoid the infringement or alleged infringement, without materially reducing the functionality or performance of CAP H or the Website<br><br>

10.5 In the circumstances per clause 6.4 above you must:<br>

10.5.1 promptly notify us of any claim or threatened claim concerning the use of CAP H or the Website;<br><br>

10.5.2 not independently defend or respond to such claim or threatened claim; and<br><br>

10.5.3 co-operate with us in the defence of any such claim or threatened claim, subject to our payment of your third party costs incurred in providing such cooperation.<br><br>

10.6 Clauses 6.4 and 6.5 state your exclusive remedy in connection with any claim or threatened claim in relation to the Intellectual Property rights of a third party.<br><br>

11. Disclaimers and Liabilities<br>
11.1 We will use reasonable endeavours to ensure that CAP H will give the functionality and levels of service as described on the Website, when used in accordance with it and this Agreement. If you believe our provision of the CAP H or the Website does not conform to this undertaking, you should notify us by email at reachout@cap-h.co<br><br>

11.2 We do not warrant:<br>

11.2.1 that CAP H or the Website will be continuously available, or that your use thereof will be uninterrupted or error or bug free, or that the Website, CAP H and server will be free from attack;<br><br>

11.2.2 that all the information we provide on CAP H and the Website is correct and complete, but we nevertheless undertake to use our reasonable endeavours to ensure that all the information we provide on CAP H and the Website is correct and complete at the time of the last update to the relevant page;<br><br>

11.2.3 that CAP H or the Website will meet your requirements and, for this purpose, it is specifically recorded that CAP H is provided "as is" and it is your responsibility to satisfy yourself that it meets your requirements and is compatible with your hardware and software prior to making use thereof;<br><br>

11.2.4 that CAP H or the Website results of use will be correct, accurate or reliable;<br><br>

11.2.5 that any defects in the CAP H or the Website can or will be corrected.<br><br>

11.3 Subject to the provisions of any applicable legislation and save as otherwise provided in this Agreement, Cap H Technologies (including its directors, employees, affiliates, third-party Contractors, business partners, Internet service providers and agents) shall not be liable for any damage, loss or liability of any nature incurred by whomever and you agree to indemnify us and keep us indemnified against all costs (including the costs of enforcement), expenses, liabilities (including any tax liability), injuries, direct, indirect or consequential loss (all three of which terms include, but are not limited to, pure economic loss, loss of income, loss of profits, loss of data, anticipated savings, loss of business, loss or depletion of goodwill, interruption of business and loss similar to all the preceding types of loss), damages, claims, demands, proceedings and judgments which we incur or suffer in any way arising from the following:<br>

11.3.1 access to the CAP H or the Website;<br><br>

11.3.2 access to websites linked (including hyperlinked) to the Website;<br><br>

11.3.3 inability to access the Website;<br><br>

11.3.4 inability to access websites linked to the Website;<br><br>

11.3.5 services or software available from the Website (including CAP H);<br><br>

11.3.6 content available on the Website;<br><br>

11.3.7 downloads and use of content on the Website;<br><br>

11.3.8 any failure to perform our obligations in this Agreement due to causes beyond our reasonable control including any interruption to or failure of any website, your computer, associated supporting system not provided by us and used by you, telecommunications services, third-party and / or electricity supply service not provided by us, including the Internet;<br><br>

11.3.9 your breach of any of the terms of this Agreement;<br><br>

11.3.10 use of CAP H or the Website other than in accordance with this Agreement; or<br><br>

11.3.11 any other reason not directly related to Cap H Technologies' gross negligence.<br><br>

11.4 To the maximum extent permitted by law all undertakings and warranties given by us under this Agreement are exclusive and all other terms, warranties, representations, undertakings and conditions, express or implied, statutory or otherwise are excluded.<br><br>

11.5 To the extent we are liable, our total liability (and that of any Affiliate, Business Partner or third-party Contractor) shall not exceed the amount of charges actually paid by you to use CAP H or the Website in the year prior to the date the circumstances causing such liability first arose. <br><br>

12. Customer details separate from card details
Customer details will be stored by Cap H separately from card details which are entered by the client on PayGate’s secure site. For more detail on PayGate refer to www.paygate.co.za.<br><br>

13. Merchant Outlet country and transaction currency
The merchant outlet country at the time of presenting payment options to the cardholder is South Africa. Transaction currency is South African Rand (ZAR).<br><br>

14. Responsibility<br>
Cap H Technologies (Pty) Ltd takes responsibility for all aspects relating to the transaction including sale of services sold on this website, customer service and support, and dispute resolution.<br><br>

15. Obligations<br>
15.1 You agree to:<br>

15.1.1 ensure that your User Details and other information given in relation to your use of Cap H and the Website are, and are maintained to be, true and accurate;<br><br>

15.1.2 use Cap H and the Website for your own lawful internal business purposes, in accordance with this Agreement and any notice sent by Cap H Technologies (Pty) Ltd or condition posted on the Website;<br><br>

15.1.3 ensure that all account credentials required to access CAP H are kept secure and confidential and to immediately notify Cap H Technologies (Pty) Ltd of any unauthorised use of your account credentials or any other breach of security. In such instances it shall be your obligation to immediately reset your password and to maintain security. In any event, it is deemed good practice to regularly reset your password to maintain data security;<br><br>

15.1.4 notify us, if, at any time you become aware of any unauthorised use of the account credentials of your Subscriber Business Partners, or any other security-related matter with Cap H and the Website, and to co-operate with us to the extent reasonably necessary to rectify the security breach;<br><br>

15.1.5 ensure that the Subscriber Business Partners who access Cap H on your account comply with the terms of this Agreement;<br><br>

15.1.6 only store the maximum amount of data, if any, as may be prescribed from time to time Cap H or on the Website. If at any time you exceed the amount of any specified limit, for so long as you do so, Cap H Technologies (Pty) Ltd may charge you at its then-standard rates for additional storage.<br><br>

15.2 Except as expressly permitted by another clause of this Agreement or by separate written arrangement with us, you agree not to and agree to ensure that no Subscriber Business Partners:<br>

15.2.1 permit any other person, directly or indirectly, to access, use or otherwise exploit the right and ability to use Cap H in any way, including by permitting Cap H to be either<br>
a. re-sold, distributed, sublicensed, loaned, transferred or provided to others in a similar way; or<br>
b. used as a hosted, bureau, outsourcing, or similar service;<br><br>

15.2.2 use or copy (irrespective of the extent of copying) the whole or any part of the graphic user interface of Cap H or the Website for incorporation into or the development of any software or other product or technology.<br><br>

15.3 When accessing and using Cap H or the Website, you must:<br>

15.3.1 not attempt to undermine the security or integrity of Cap H Technologies (Pty) Ltd's computing systems or networks or, where Cap H or the Website is hosted by a third party, that third party's computing systems and networks;<br><br>

15.3.2 not use, or misuse Cap H or the Website in any way which may impair the functionality of Cap H or Website, or impair the ability of any other user to use Cap H or Website;<br><br>

15.3.3 not attempt to gain unauthorised access to any materials other than those to which you have been given express permission to access or to the computer system on which Cap H or Website is hosted;<br><br>

15.3.4 not transmit, or input into Cap H, any files that may damage any other person's computing devices or software, content that may be offensive, or material or User Details or Company Data in violation of any law (including data or other material protected by copyright or trade secrets which you do not have the right to use);<br><br>

15.3.5 not modify, translate, or create derivative works based on Cap H or the Website, nor reproduce, reverse assemble, decompile or reverse engineer Cap H or the Website, whether in whole or in part, or otherwise attempt to derive the source code, underlying ideas, algorithms, file formats, programming of Cap H or the Website or any files contained in or generated by Cap H or the Website, nor shall you permit any third party to do so; and<br><br>

15.3.6 not merge or combine the whole or any part of Cap H or the Website with any other software or documentation without the prior written consent of Cap H Technologies (Pty) Ltd.<br><br>

15.4 Cap H Technologies (Pty) Ltd's obligations shall be to provide you with access to Cap H (which access may not necessarily be uninterrupted), including technical support by email as described on <br><br>the Website.

16. Confidentiality, Privacy of Company Data and User Information and Interception of Communications<br>
16.1 We undertake to take all reasonable steps to protect the personal information of Business Partners and to comply with all applicable legislation.<br><br>

16.2 In respect of access to Company Data and User Details:<br>

16.2.1 The Company Data entered, or imported on instruction, by you, remains your property and we will not use nor make available for use any of this information without your permission.<br><br>

16.3 You agree to our use, storage and disclosure of information, Company Data and User Details for the following purposes:<br>

16.3.1 We will use your User Details, for exercising our rights and for performing our legal obligations under this Agreement. We may use it to contact you, via your relevant or nominated personnel or our Business Partners, about our other relevant products and services, to conduct research about our customers and to track and record the manner in which you and your Subscriber Business Partners use CAP H. Contact may be made via our third party Contractors, Business Partners or Affiliates. You acknowledge that there is certain information that we must use in order to be able to provide CAP H, including names and email addresses of your Subscriber Business Partners. If for any reason we are not permitted to use such information, we may not be able to perform our obligations in this Agreement. You acknowledge that in such circumstances you will still be obliged to pay our charges.<br><br>

16.3.2 We will only use your Company Data stored via CAP H to the extent necessary for us to provide CAP H for performing our rights and obligations in this Agreement and for performing our legal obligations. We acknowledge that your Company Data is your proprietary and confidential data and that under no circumstances may we exploit that data for our own purposes not specifically relating to providing you CAP H, save where you have consented to the contrary.<br><br>

16.3.3 The information, which you submit and store via CAP H, may be stored on Cap H Technologies Pty Ltd's computer servers which servers may be controlled, hosted and managed by our Affiliate or third party Contractors who shall be bound to these confidentiality and privacy provisions.<br><br>

16.3.4 We will disclose your User Details and other relevant information (including User Details of your Subscriber Business Partners, if necessary) to our Affiliates and third party Contractors who assist us (and our Affiliates) to provide CAP H, who shall be bound to these confidentiality and <br><br>privacy provisions.

16.3.5 You agree to bring this Agreement to the attention of your Subscriber Business Partners, to help ensure that they understand and consent to our use of their information, including User Details. This is so that we may provide CAP H to them on your behalf.<br><br>

16.3.6 We may access and use non-identifying and aggregated usage information and transaction volumes in order to better understand how our customers are using CAP H so we can improve the system design and where appropriate have the system prompt users with suggestions on ways to improve their own use of the system.<br><br>

16.3.7 We collect information via the Website by means of cookies and use cookies to allow you to enter your password less frequently during a session, to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety, to offer certain features that are only available through the use of a cookie and to allow us to provide information that is targeted to your interests. You hereby authorise us to use cookies.<br><br>

16.4 All other information not dealt with in this clause shall constitute Confidential Information and shall not be disclosed to any other party without the prior written consent of the owner of such information first being obtained.<br><br>

16.5 Cap H Technologies Pty Ltd owns and retains all rights to non-personal statistical information collected and compiled by CAP H.<br><br>

16.6 Subject to the provisions of the RIC Act you agree to Cap H Technologies Pty Ltd's right to intercept, block, filter, read, delete, disclose and use all communications which you send or post to CAP H and its employees. You acknowledge that this consent and your use of the Website satisfy the "writing" requirement as required in the RIC Act.<br><br>

17. Acceptable use of CAP H<br>
17.1 It is impossible to provide an exhaustive list of exactly what constitutes acceptable and unacceptable use of CAP H. In general, we will not tolerate any use of CAP H which damages or is likely to damage our reputation, the availability or integrity of CAP H or which causes us or threatens to cause us to incur any legal, tax or regulatory liability.<br><br>

17.2 We therefore require you to treat CAP H with respect, and not to use same for any illegal purpose, or in such a way as to infringe or breach other's rights or to cause or threaten to cause us damage. We require you to comply with any relevant notices, policies and terms imposed by third parties whose website, products or services you access.<br><br>

17.3 You must not use the Website or any communication tool for posting or disseminating any material unrelated to the use of CAP H including: offers of goods or services for sale, files that may damage any other person's computing devices or software, content that may be offensive to any of our other users, or material in violation of any law (including material that is protected by copyright or trade secrets which you do not have the right to use).<br><br>

17.4 When you make any communication on the Website, you represent that you own the content of the communication.<br><br>

17.5 We reserve the right to remove any communication posted on CAP H, suspend the use of CAP H and generally or block your access to any part thereof and / or to suspend or terminate your rights to use same or any part of it if we suspect misuse at any time in our sole discretion. We shall then report any misuse of CAP H to the relevant enforcement or other authorities and to our advisers. We further reserve the right to disclose any evidence we have which relates directly or indirectly to misuse.<br><br>

18 Country of domicile<br>
This website is governed by the laws of the Republic of South Africa and Cap H Technologies (Pty) Ltd chooses as its domicilium citandi et executandi (132 Pritchard Street, North Riding, 2162) for all purposes under this agreement, whether in respect of court process, notice, or other documents or communication of whatsoever nature, in accordance to the laws of the Republic of South Africa.<br><br>

19 Variation<br>
Cap H Technologies (Pty) Ltd may, in its sole discretion, change this agreement or any part thereof at any time without notice. All changes will be published and made public on the CAP H website. <br><br>

20 Company information<br>
This website is run by Cap H Technologies (Pty) Ltd based in South Africa trading as
Cap H and with registration number K2017404162 and Jasmine Adam & Eeshaam September (Director(s)/Member(s)/Owner(s)).<br><br>

Cap H Technologies (Pty) Ltd contact details<br>
Company Physical Address:<br>
132 Pritchard Street<br>
North Riding<br>
2162<br>
Email: reachout@cap-h.co <br>
Telephone: +27 72 345 0923   <br>  
</label>
</div>
</div>
</body>
</html>
