<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Settings</title>

  <link href="../../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/mdb.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link href="../../assets/css/app.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><img src="../../assets/brand/33-1.png" width="30"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
					<li><a href="../../employee/dashboard/index.html">Dashboard</a></li>
          <li><a href="../../employee/calendar/index.html">Calendar</a></li>
          <li><a href="../../employee/notifications/index.html">Notifications</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../notifications/"><img src="../../assets/brand/bell.svg" width="20"></a>
          </li>
          <li>
            <a href=""><img src="../../assets/brand/help.svg" width="20"></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thabang Mangope<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Profile</li>
              <li><a href="../../employee/profile/index.html">View profile</a></li>
              <li><a href="#">Edit profile</a></li>
              <li><a href="../../employee/timeline/index.html">View timeline</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Settings</li>
              <li><a href="../settings/">Edit information</a></li>
              <li><a href="#">Preferences</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="../../auth/as-employee/">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    
    <div class="row panel">
      <div class="col-md-6 col-xs-12">
        <h4>Change password</h4><hr>
        <form action="" method="">
          <div class="form-group">
              <label for="old-password-input" class="small-heading">Old password</label>
              <input type="text" class="form-control no-radius" id="old-password-input">
          </div>
          <div class="form-group">
              <label for="new-password-input" class="small-heading">New password</label>
              <input type="text" class="form-control no-radius" id="new-password-input">
          </div>
          <div class="form-group">
              <label for="re-password-input" class="small-heading">Re-type new password</label>
              <input type="text" class="form-control no-radius" id="re-password-input">
          </div>
        </form>
        <p class="text-right"><button class="btn btn-default">Change password</button></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4>Deactivate account</h4>
        <hr>
        <labe class="text-muted">Request for this account to be deactivated.</labe> <button class="btn btn-danger">deactivate account</button>
        <hr>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Cap &copy; 2016</p>
    </div>
  </footer>

  <script src="../../assets/js/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/jquery.js"><\/script>')</script>
  <script src="../../assets/js/bootstrap.js"></script>
  <script src="../../assets/js/mdb.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/src/ie10-viewport-bug-workaround.js"></script>
</body>

</html>